@import "tailwindcss";

body {
  background: #0a0a0a;
  color: #ededed;
}

@font-face {
  font-family: 'Lelevien';
  src: url('/Fonts/Lelevien-Avapore.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ARLRDBD';
  src: url('/Fonts/ARLRDBD.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GIL';
  src: url('/Fonts/GIL_____.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}